@page
@model Medistorial.Web.Pages.Borrar.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medic.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medic.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medic.TimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medic.TimeStamp)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Medic.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
